<extend name="Public/base"/><block name="body"><div class="Tool_Bar" id="Action_Bar">
<dl>
	<dt>行为管理</dt>
    {$Main_Nav}
</dl>
</div>
<form id="Action_Form" class="easyui-tabs Updata_Form" data-options="fit:true,tools:'#Action_Bar',toolPosition:'left',tabHeight:40,border:false" action="{:U('Admin/Action/edit')}" method="post">
<div title="基础" style="padding:20px;">
    <fieldset class="Form_1">
    	<div class="formitm">
            <label class="lab"  for="for_name">标识：</label>
            <div class="ipt">
                <input name="name" id="for_name" type="text" value="{$_info["name"]}" class="easyui-textbox" style="height:30px;" data-options="type:'text'">                <p></p>
            </div>
        </div><div class="formitm">
            <label class="lab"  for="for_title">标题：</label>
            <div class="ipt">
                <input name="title" id="for_title" type="text" value="{$_info["title"]}" class="easyui-textbox" style="height:30px;" data-options="type:'text'">                <p></p>
            </div>
        </div><div class="formitm">
            <label class="lab"  for="for_remark">描述：</label>
            <div class="ipt">
                <textarea name="remark" id="for_remark" class="easyui-textbox" data-options="required:false,multiline:true" style="width:300px; height:100px;">{$_info["remark"]}</textarea>                <p></p>
            </div>
        </div><div class="formitm">
            <label class="lab"  for="for_rule">行为规则：</label>
            <div class="ipt">
                <textarea name="rule" id="for_rule" class="easyui-textbox" data-options="required:false,multiline:true" style="width:300px; height:100px;">{$_info["rule"]}</textarea>                <p></p>
            </div>
        </div><div class="formitm">
            <label class="lab"  for="for_log">日志规则：</label>
            <div class="ipt">
                <textarea name="log" id="for_log" class="easyui-textbox" data-options="required:false,multiline:true" style="width:300px; height:100px;">{$_info["log"]}</textarea>                <p></p>
            </div>
        </div><div class="formitm">
            <label class="lab"  for="for_type">类型：</label>
            <div class="ipt">
                <select name="type" id="for_type" class="easyui-combobox" style="height:30px;" data-options="value:'{$_info["type"]}',url:'{:U("Admin/Function/get_field_option")}&f_id=51&r_type=json',valueField:'id',textField:'text'"></select>                <p></p>
            </div>
        </div><div class="formitm">
            <label class="lab"  for="for_status">状态：</label>
            <div class="ipt">
                <select name="status" id="for_status" class="easyui-combobox" style="height:30px;" data-options="value:'{$_info["status"]}',url:'{:U("Admin/Function/get_field_option")}&f_id=52&r_type=json',valueField:'id',textField:'text'"></select>                <p></p>
            </div>
        </div>        <div class="formitm formitm-1"><a class="easyui-linkbutton" href="JavaScript:void(0);" onclick="Sub_Form('#Action_Form');" data-options="iconCls:'iconfont icon-edit'"><span style="font-size: 14px; font-weight: 600;">提交</span></a></div>
    </fieldset>
    </div><input name="id" type="hidden" value="{:I('get.id')}" />
<!-- 扩展数据 starp-->
<!-- 扩展数据 end-->
</form></block>