<extend name="Public/base"/><block name="body">
<div class="Tool_Bar" id="User_Bar">
<dl>
	<dt>用户</dt>
	<if condition="Is_Auth('Admin/User/updatepassword')">
	<dd><a href="{:U('Admin/User/updatepassword')}" onclick="JavaScript:window.location.href='{:U('Admin/User/updatepassword')}'"><span>修改密码</span></a></dd>
	</if>
	<if condition="Is_Auth('Admin/User/updateuserinfo')">
	<dd><a class="current" href="{:U('Admin/User/updateuserinfo')}" onclick="JavaScript:window.location.href='{:U('Admin/User/updateuserinfo')}'"><span>基本资料修改</span></a></dd>
	</if>
</dl>
</div>
<form id="User_Form" class="easyui-tabs Updata_Form" data-options="fit:true,tools:'#User_Bar',toolPosition:'left',tabHeight:40,border:false" method="post">
<div title="修改密码" style="padding:20px;">
    <fieldset class="Form_1">
    	<div class="formitm">
            <label class="lab" for="for_old">昵称：</label>
            <div class="ipt">
                <input name="nickname" id="for_nickname" type="text" class="easyui-textbox" style="height:30px;" value="{$UserInfo['nickname']}" data-options="required:false">
                <p></p>
            </div>
        </div>
        <div class="formitm formitm-1"><a class="easyui-linkbutton" href="JavaScript:void(0);" onclick="Sub_Form('#User_Form');" data-options="iconCls:'iconfont icon-edit'"><span style="font-size: 14px; font-weight: 600;">提交</span></a></div>
    </fieldset>
    </div>
</form>
</block>